
@{
    ViewBag.Title = "About";
}

<h2>About</h2>

<p>
    TeMeS is a Text Message Support System that help people facing addition succeed through the use of SMS messages.
    <Learn More>
    <Contact Us>
</p>

