USE [DevinTwilio]
GO
/****** Object:  Table [dbo].[ScheduleMessage]    Script Date: 2/9/2018 6:39:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ScheduleMessage](
	[ScheduleMessage_ID] [int] IDENTITY(1,1) NOT NULL,
	[ScheduleMessage_Message] [nvarchar](1000) NULL,
	[ScheduleMessage_TriggerTypeID] [int] NULL,
	[ScheduleMessage_TriggerEventID] [int] NULL,
	[ScheduleMessage_TriggerID] [int] NULL,
	[ScheduleMessage_StartTime] [datetime2](7) NULL,
	[ScheduleMessage_EndTime] [datetime2](7) NULL,
	[ScheduleMessage_FrequencyOfDelivery] [nvarchar](1000) NULL,
	[ScheduleMessage_If1] [nvarchar](1000) NULL,
	[ScheduleMessage_If2] [nvarchar](1000) NULL,
	[ScheduleMessage_OtherNotes] [nvarchar](1000) NULL,
	[ScheduleMessage_TimesSent] [nvarchar](100) NULL,
	[ScheduleMessage_MMDomainID] [int] NULL,
	[ScheduleMessage_MMSubDomainID] [int] NULL,
	[ScheduleMessage_Time] [nvarchar](100) NULL,
 CONSTRAINT [PK_ScheduleMessage] PRIMARY KEY CLUSTERED 
(
	[ScheduleMessage_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[ScheduleMessage] ON 

SET IDENTITY_INSERT [dbo].[ScheduleMessage] OFF
ALTER TABLE [dbo].[ScheduleMessage]  WITH NOCHECK ADD  CONSTRAINT [FK_ScheduleMessage_MMDomain] FOREIGN KEY([ScheduleMessage_MMDomainID])
REFERENCES [dbo].[MMDomain] ([MMDomain_ID])
GO
ALTER TABLE [dbo].[ScheduleMessage] CHECK CONSTRAINT [FK_ScheduleMessage_MMDomain]
GO
ALTER TABLE [dbo].[ScheduleMessage]  WITH NOCHECK ADD  CONSTRAINT [FK_ScheduleMessage_MMSubDomain] FOREIGN KEY([ScheduleMessage_MMSubDomainID])
REFERENCES [dbo].[MMSubDomain] ([MMSubDomain_ID])
GO
ALTER TABLE [dbo].[ScheduleMessage] CHECK CONSTRAINT [FK_ScheduleMessage_MMSubDomain]
GO
ALTER TABLE [dbo].[ScheduleMessage]  WITH NOCHECK ADD  CONSTRAINT [FK_ScheduleMessage_Trigger] FOREIGN KEY([ScheduleMessage_TriggerID])
REFERENCES [dbo].[Trigger] ([Trigger_ID])
GO
ALTER TABLE [dbo].[ScheduleMessage] CHECK CONSTRAINT [FK_ScheduleMessage_Trigger]
GO
ALTER TABLE [dbo].[ScheduleMessage]  WITH NOCHECK ADD  CONSTRAINT [FK_ScheduleMessage_TriggerEvent] FOREIGN KEY([ScheduleMessage_TriggerEventID])
REFERENCES [dbo].[TriggerEvent] ([TriggerEvent_ID])
GO
ALTER TABLE [dbo].[ScheduleMessage] CHECK CONSTRAINT [FK_ScheduleMessage_TriggerEvent]
GO
ALTER TABLE [dbo].[ScheduleMessage]  WITH NOCHECK ADD  CONSTRAINT [FK_ScheduleMessage_TriggerType] FOREIGN KEY([ScheduleMessage_TriggerTypeID])
REFERENCES [dbo].[TriggerType] ([TriggerType_ID])
GO
ALTER TABLE [dbo].[ScheduleMessage] CHECK CONSTRAINT [FK_ScheduleMessage_TriggerType]
GO
